*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* green: #00ae4d; */
/* tan: #ecb11f; */
/* pink: b41e5a */

body {
	padding: 1.5rem;
	/* font-family: 'Source Sans Pro', sans-serif; */
	font-family: 'Comfortaa', cursive;
	color: #333;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 12vw;
	background-color: #fff;
	background-image:
		url("../img/whiskers_300x90.png"),
		url("../img/doggie_300x90.png");
	/* background-position: left center, right center; */
	background-position: .45rem center, calc(100% - .45rem) center;
	background-size: 21.6vw;
	background-repeat: no-repeat;
}
header h1 {
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 4.8vw;
	font-weight: 100;
	letter-spacing: .15rem;
	word-spacing: -0.3rem;
}
@media screen and (min-width: 990px) {
	header {
		height: 90px;
		background-size: 180px, 180px;
		background-position: 1.5rem center, calc(100% - 1.5rem) center;
	}
	header h1 { font-size: 3rem; }
}

main {
	display: flex;
	margin-top: 11.1vw;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}
@media screen and (min-width: 990px) {
	main { margin-top: 90px; }
}

h3 {
	width: 100%;
	margin-bottom: .9rem;
	padding: .9rem;
	text-align: center;
	font-size: 2.7vw;
	font-weight: bold;
	line-height: 1.5;
	background: #b41e5a;
	color: #fff;
	border-radius: 3px;
}
h3 span {
	font-size: 2.7vw;
	font-weight: normal;
}
/* ball-park: my droid @ landscape @ 684px */
@media screen and (min-width: 684px) {
	h3 { font-size: 2.4vw; }
	h3 span { font-size: 2.1vw; }
}
@media screen and (min-width: 840px) {
	h3 { font-size: 1.2rem; }
	h3 span { font-size: .99rem; }
}


/* ======================== PET LIST ======================== */
#pet-list-wrapper {
	width: 10.5rem;
	margin-bottom: 1.5rem;
}

ul#pet-list {
	max-height: 72rem;
	height: calc(60rem + 19px);
	overflow: auto;
	direction: rtl;
}

#pet-list li {
	direction: ltr;
	height: 1.8rem;
	margin-bottom: 1px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font-size: .9rem;
	overflow: hidden;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 6rem 3rem;
	background-position: -999rem;
	border-bottom: 1px solid #f0f0f0;
}

#pet-list li:hover,
#pet-list li:active,
#pet-list li:focus {
	color: #fff;
	background: #00ae4d;
	background-repeat: no-repeat;
	background-size: 6rem 3rem;
	background-position: -999rem;
}

#pet-list span { padding-left: .6rem; }
#pet-list .animal-name {}
#pet-list .animal-sex { font-weight: 600; }

#pet-list .animal-age {
	display: none;
	text-transform: lowercase;
	font-style: italic;
}


@media screen and (min-width: 684px) {
	#pet-list-wrapper { width: 21rem; }
	#pet-list li {
		height: 3rem;
		padding-left: 6.3rem;
		font-size: .99rem;
		background-position: .3rem 0;
	}
	#pet-list li:hover,
	#pet-list li:active,
	#pet-list li:focus { background-position: .3rem 0; }
	#pet-list .animal-age { display: inline-block; }
} /* MQ */

/* ======================== PET DETAILS ======================== */
#pet-details-wrapper { width: calc(100% - 11.1rem); }

#pet-details {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	transition: .3s all ease-in-out;
}
#pet-details.in { opacity: 1; }
#pet-details.out { opacity: 0; }

#pet-details img {
	width: 100%;
	height: 100%;
	margin-bottom: .9rem;
	border-radius: 3px;
}

#pet-details .summary {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 600px;
	font-size: .9rem;
}
#pet-details .summary p {
	width: 100%;
	margin-bottom: .3rem;
	text-align: center;
}
#pet-details .summary span { font-weight: bold; color: #00ae4d; }
#pet-details .summary p.animal-species { display: none; }
#pet-details .summary p.animal-description {
	width: 100%;
	margin: .9rem 0 0;
	padding: .9rem;
	text-align: left;
	line-height: 1.5;
	background: #666;
	color: #fff;
	border-radius: 3px;
}

@media screen and (min-width: 684px) {
	#pet-details-wrapper { width: calc(100% - 21rem); }
	#pet-details .summary { font-size: .99rem; }
}

@media screen and (min-width: 780px) {
	#pet-details .summary p { width: 50%; }
	#pet-details .summary p:nth-child(odd) { text-align: left; }
	#pet-details .summary p:nth-child(even) { text-align: right; }
}






































/*  */
